<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-warning" (click)="onReload()">Reload Page</button>
   <a routerLink="/servers">reload Page</a>
<!-- relative path ./ or NOTHING ERROR: doesn't find server/servers
  if you change it to an ABSOLUTE path no error: /servers we dont get an error
with a relative path: servers, the path is appended to the current path
BUT with a  absolte path: /servers -->
  
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

