<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
   <a routerLink="/servers">reload Page</a>
<!-- if we hange it to a relative path /servers we dont get an error
with a relative path: servers, the path is appended to the current path
BUT with a  -->
  
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

